 body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/696/278/original/textured-black-background-vector.jpg");
   background-size:cover;
   text-align:center;
   color: white;
   font-weight:bold;
   font-size:30px;
}
h1{
    color:goldenrod;
    font-size:80px;

     
}
#messae{
    font-style: italic;
}
button{
    display:flex;
    width:320px; 
    margin-bottom: 10px;
    margin-left: auto;
    margin-right:auto;
    color:#016f32;

    background-color: goldenrod;
    padding:5px 50px 5px 50px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:2px solid #C0C0C0
    
}
